/* Background color removed - was applying to all pages */

.responsive-project {
  margin-bottom: 2rem;
}

.responsive-project img {
  float: left;
  margin-right: 1.5rem;
  margin-bottom: 1rem;
}

@media (max-width: 768px) {
  .responsive-project img {
    float: none;
    display: block;
    margin: 0 auto 1rem auto;
  }
}
